PORT=5000
NODE_ENV=development
JWT_SECRET=supersecretjwtkey_ecommercestore_2026_modern
# Optional MongoDB URI (If not set, internal persistent JSON data store is used)
# MONGODB_URI=mongodb://localhost:27017/ecommerce_db
